<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="./css/style.css">
    <title>App Ideias Resolved</title>
    <%- include('../../partials/style/style') %>
</head>
<body>
    <header>
        <a href="https://github.com/clovesrocha/app-ideias" target="_blank">Repositório Original</a>
    </header>
    <main>
        <h2>App Ideias Resolve</h2>
        <table>
            <thead>
                <th>Name</th>
                <th>Short Description</th>
                <th>Tier</th>
                <th>Status</th>
            </thead>
            <tbody>
                <tr>
                    <td><a href="/Bin2Dec-App">Bin2Dec</a></td>
                    <td>Binary-to-Decimal number converter</td>
                    <td>1-Beginner</td>
                    <td><i class="material-icons">check_circle</i></td>
                </tr>
                <tr>
                    <td><a href="/Border-Radius-Previewer">Border Radius Previewer</a></td>
                    <td>Preview how CSS3 border-radius values affect an element</td>
                    <td>1-Beginner</td>
                    <td><i class="material-icons">check_circle</i></td>
                </tr>
                <tr>
                    <td><a href="/Calculator-App">Calculator</a></td>
                    <td>Calculator</td>
                    <td>1-Beginner</td>
                </tr>
                <tr>
                    <td><a href="/Christmas-Lights-App">Christmas Lights</a></td>
                    <td>Simulate a string of Christmas lights</td>
                    <td>1-Beginner</td>
                </tr>
                <tr>
                    <td><a href="/Cause-Effect-App">Cause Effect App</a></td>
                    <td>Click list item to display item details</td>
                    <td>1-Beginner</td>
                </tr>
                <tr>
                    <td><a href="/Color-Cycle-App">Color Cycle</a></td>
                    <td>Cycle a color value through incremental changes</td>
                    <td>1-Beginner</td>
                </tr>
                <tr>
                    <td><a href="/Countdown-Timer-App">Countdown Timer</a></td>
                    <td>Event Countdown timer</td>
                    <td>1-Beginner</td>
                </tr>
                <tr>
                    <td><a href="/CSV2JSON-App">CSV2JSON App</a></td>
                    <td>CSV to JSON converter</td>
                    <td>1-Beginner</td>
                </tr>
                <tr>
                    <td><a href="/Dollars-To-Cents-App">Dollars to Cents</a></td>
                    <td>Convert dollars to cents</td>
                    <td>1-Beginner</td>
                </tr>
                <tr>
                    <td><a href="/Dynamic-CSSVar-app">Dynamic CSS Variables</a></td>
                    <td>Dynamically change CSS variable settings</td>
                    <td>1-Beginner</td>
                </tr>
                <tr>
                    <td><a href="/First-DB-App">First DB App</a></td>
                    <td>Your first Database app!</td>
                    <td>1-Beginner</td>
                </tr>
                <tr>
                    <td><a href="/Flip-Image-App">Flip Image</a></td>
                    <td>Change the orientation of images across two axes</td>
                    <td>1-Beginner</td>
                </tr>
                <tr>
                    <td><a href="/GitHub-Status-App">GitHub Status</a></td>
                    <td>Display Current GitHub Status</td>
                    <td>1-Beginner</td>
                </tr>
                <tr>
                    <td><a href="/Hello-App">Hello</a></td>
                    <td>User native language greeting</td>
                    <td>1-Beginner</td>
                </tr>
                <tr>
                    <td><a href="/IOT-Mailbox-App">IOT Mailbox Simulator</a></td>
                    <td>Use callbacks to check your snail mail</td>
                    <td>1-Beginner</td>
                </tr>
                <tr>
                    <td><a href="/Javascript-Validation-With-Regex">JS Input Validation</a></td>
                    <td>Script to validate inputs entered by a user using RegEx</td>
                    <td>1-Beginner</td>
                </tr>
                <tr>
                    <td><a href="/JSON2CSV-App">JSON2CSV App</a></td>
                    <td>JSON to CSV converter</td>
                    <td>1-Beginner</td>
                </tr>
                <tr>
                    <td><a href="/Key-Value-App">Key Value</a></td>
                    <td>Keyboard Event Values</td>
                    <td>1-Beginner</td>
                </tr>
                <tr>
                    <td><a href="/Lorem-Ipsum-Generator">Lorem Ipsum Generator</a></td>
                    <td>Generate lorem ipsum placeholder text</td>
                    <td>1-Beginner</td>
                </tr>
                <tr>
                    <td><a href="/Notes-App">Notes App</a></td>
                    <td>Create an online note pad</td>
                    <td>1-Beginner</td>
                </tr>
                <tr>
                    <td><a href="/Pearson-Regression-App">Pearson Regression</a></td>
                    <td>Calculate the correlation coefficient for two sets of data</td>
                    <td>1-Beginner</td>
                </tr>
                <tr>
                    <td><a href="/Pomodoro-Clock">Pomodoro Clock</a></td>
                    <td>Task timer to aid personal productivity</td>
                    <td>1-Beginner</td>
                </tr>
                <tr>
                    <td><a href="/Product-Landing-Page">Product Landing Page</a></td>
                    <td>Showcase product details for possible buyers</td>
                    <td>1-Beginner</td>
                </tr>
                <tr>
                    <td><a href="/Quiz-App">Quiz App</a></td>
                    <td>Test your knowledge by answering questions</td>
                    <td>1-Beginner</td>
                </tr>
                <tr>
                    <td><a href="/Recipe-App">Recipe App</a></td>
                    <td>Recipe</td>
                    <td>1-Beginner</td>
                </tr>
                <tr>
                    <td><a href="/Random-Meal-Generator">Random Meal Generator</a></td>
                    <td>Generate random meals</td>
                    <td>1-Beginner</td>
                </tr>
                <tr>
                    <td><a href="/Random-Number-Generator">Random Number Generator</a></td>
                    <td>Generate random number between range.</td>
                    <td>1-Beginner</td>
                </tr>
                <tr>
                    <td><a href="/Roman-to-Decimal-Converter">Roman to Decimal Converter</a></td>
                    <td>Convert Roman to Decimal numbers</td>
                    <td>1-Beginner</td>
                </tr>
                <tr>
                    <td><a href="/Slider-Design">Slider Design</a></td>
                    <td>Display images using a slider control</td>
                    <td>1-Beginner</td>
                </tr>
                <tr>
                    <td><a href="/Stopwatch-App">Stopwatch App</a></td>
                    <td>Count time spent on activities</td>
                    <td>1-Beginner</td>
                </tr>
                <tr>
                    <td><a href="/True-or-False-App">TrueOrFalse</a></td>
                    <td>Identify the result of a conditional comparison</td>
                    <td>1-Beginner</td>
                </tr>
                <tr>
                    <td><a href="/Vigenere-Cipher">Vigenere Cipher</a></td>
                    <td>Encrypt text using the Vigenere Cypher</td>
                    <td>1-Beginner</td>
                </tr>
                <tr>
                    <td><a href="/Windchill-App">Wind Chill</a></td>
                    <td>Calculate the windchill factor from an actual temperature</td>
                    <td>1-Beginner</td>
                </tr>
                <tr>
                    <td><a href="/Word-Frequency-App">Word Frequency</a></td>
                    <td>Calculate word frequency in a block of text</td>
                    <td>1-Beginner</td>
                </tr>
                <tr>
                    <td><a href="/Weather-App">Weather App</a></td>
                    <td>Get the temperature, weather condition of a city.</td>
                    <td>1-Beginner</td>
                </tr>
                <tr>
                    <td><a href="/Bit-Masks-App">Bit Masks</a></td>
                    <td>Using Bit Masks for Conditions</td>
                    <td>2-Intermediate</td>
                </tr>
                <tr>
                    <td><a href="/Book-Finder-App">Book Finder App</a></td>
                    <td>Search for books by multiple criteria</td>
                    <td>2-Intermediate</td>
                </tr>
                <tr>
                    <td><a href="/Calculator-CLI">Calculator CLI</a></td>
                    <td>Create a basic calculator cli.</td>
                    <td>2-Intermediate</td>
                </tr>
                <tr>
                    <td><a href="/Card-Memory-Game">Card Memory Game</a></td>
                    <td>Memorize and match hidden images</td>
                    <td>2-Intermediate</td>
                </tr>
                <tr>
                    <td><a href="/Charity-Finder-App">Charity Finder App</a></td>
                    <td>Find a Global Charity to donate to</td>
                    <td>2-Intermediate</td>
                </tr>
                <tr>
                    <td><a href="/Chrome-Theme-Extension">Chrome Theme Extension</a></td>
                    <td>Build your own chrome theme extention.</td>
                    <td>2-Intermediate</td>
                </tr>
                <tr>
                    <td><a href="/Currency-Converter">Currency Converter</a></td>
                    <td>Convert one currency to another.</td>
                    <td>2-Intermediate</td>
                </tr>
                <tr>
                    <td><a href="/Drawing-App">Drawing App</a></td>
                    <td>Create digital artwork on the web</td>
                    <td>2-Intermediate</td>
                </tr>
                <tr>
                    <td><a href="/Emoji-Translator-App">Emoji Translator App</a></td>
                    <td>Translate sentences into Emoji</td>
                    <td>2-Intermediate</td>
                </tr>
                <tr>
                    <td><a href="/FlashCards-App">Flashcards App</a></td>
                    <td>Review and test your knowledge through Flash Cards</td>
                    <td>2-Intermediate</td>
                </tr>
                <tr>
                    <td><a href="/Flip-Art-App">Flip Art App</a></td>
                    <td>Animate a set of images</td>
                    <td>2-Intermediate</td>
                </tr>
                <tr>
                    <td><a href="/Game-Suggestion-App">Game Suggestion App</a></td>
                    <td>Create polls to decide what games to play</td>
                    <td>2-Intermediate</td>
                </tr>
                <tr>
                    <td><a href="/GitHub-Profiles">GitHub Profiles</a></td>
                    <td>A GitHub user search App</td>
                    <td>2-Intermediate</td>
                </tr>
                <tr>
                    <td><a href="/HighStriker-Game">HighStriker Game</a></td>
                    <td>Highstriker strongman carnival game</td>
                    <td>2-Intermediate</td>
                </tr>
                <tr>
                    <td><a href="/Image-Scaner">Image Scanner</a></td>
                    <td>Image Scanner App</td>
                    <td>2-Intermediate</td>
                </tr>
                <tr>
                    <td><a href="/Markdown-Previewer">Markdown Previewer</a></td>
                    <td>Preview text formatted in GitHub flavored markdown</td>
                    <td>2-Intermediate</td>
                </tr>
                <tr>
                    <td><a href="/Markdown-Table-Generator">Markdown Table Generator</a></td>
                    <td>Convert a table into Markdown-formatted text</td>
                    <td>2-Intermediate</td>
                </tr>
                <tr>
                    <td><a href="/math-editor">Math Editor</a></td>
                    <td>A math editor for students to use</td>
                    <td>2-Intermediate</td>
                </tr>
                <tr>
                    <td><a href="/Meme-Generator-App">Meme Generator App</a></td>
                    <td>Create custom memes</td>
                    <td>2-Intermediate</td>
                </tr>
                <tr>
                    <td><a href="/Name-Generator">Name Generation using RNNs</a></td>
                    <td>Generate names using names dataset</td>
                    <td>2-Intermediate</td>
                </tr>
                <tr>
                    <td><a href="/Password-Generator">Password Generator</a></td>
                    <td>Generate random passwords</td>
                    <td>2-Intermediate</td>
                </tr>
                <tr>
                    <td><a href="/Podcast-Directory-App">Podcast Directory</a></td>
                    <td>Directory of favorite podcasts</td>
                    <td>2-Intermediate</td>
                </tr>
                <tr>
                    <td><a href="/QRCode-Badge-App">QR Code Badge Generator</a></td>
                    <td>Encode badge info in a QRcode</td>
                    <td>2-Intermediate</td>
                </tr>
                <tr>
                    <td><a href="/RegExp-Helper-App">Regular Expression Helper</a></td>
                    <td>Test Regular Expressions</td>
                    <td>2-Intermediate</td>
                </tr>
                <tr>
                    <td><a href="/Sales-DB-App">Sales Reciepts App</a></td>
                    <td>Record Sales Receipts in a DB</td>
                    <td>2-Intermediate</td>
                </tr>
                <tr>
                    <td><a href="/Simple-Online-Store">Simple Online Store</a></td>
                    <td>Simple Online Store</td>
                    <td>2-Intermediate</td>
                </tr>
                <tr>
                    <td><a href="/Sports-Bracket-Generator">Sports Bracket Generator</a></td>
                    <td>Generate a sports bracket diagram</td>
                    <td>2-Intermediate</td>
                </tr>
                <tr>
                    <td><a href="/String-Art">String Art</a></td>
                    <td>An animation of moving, colored strings</td>
                    <td>2-Intermediate</td>
                </tr>
                <tr>
                    <td><a href="/This-or-That-Game">This or That Game</a></td>
                    <td>This or That Game</td>
                    <td>2-Intermediate</td>
                </tr>
                <tr>
                    <td><a href="/Timezone-Slackbot">Timezone Slackbot</a></td>
                    <td>Display Team Timezones</td>
                    <td>2-Intermediate</td>
                </tr>
                <tr>
                    <td><a href="/To-Do-App">To-Do App</a></td>
                    <td>Manage personal to-do tasks</td>
                    <td>2-Intermediate</td>
                </tr>
                <tr>
                    <td><a href="/Typing-Practice-App">Typing Practice</a></td>
                    <td>Typing Practice</td>
                    <td>2-Intermediate</td>
                </tr>
                <tr>
                    <td><a href="/Voting-App">Voting App</a></td>
                    <td>Voting App</td>
                    <td>2-Intermediate</td>
                </tr>
                <tr>
                    <td><a href="/Battleship-Bot">Battleship Bot</a></td>
                    <td>Create a Discord bot that plays Battleship</td>
                    <td>3-Advanced</td>
                </tr>
                <tr>
                    <td><a href="/Battleship-Game-Engine">Battleship Game Engine</a></td>
                    <td>Create a callable engine to play the Battleship game</td>
                    <td>3-Advanced</td>
                </tr>
                <tr>
                    <td><a href="/Boole-Bot-Game">Boole Bots Game</a></td>
                    <td>Battling Bots driven by Boolean algebra</td>
                    <td>3-Advanced</td>
                </tr>
                <tr>
                    <td><a href="./Projects/1-Beginner/Calendar-App">Calendar</a></td>
                    <td>Create your own Calendar</td>
                    <td>3-Advanced</td>
                </tr>
                <tr>
                    <td><a href="/Calorie-Counter-App">Calorie Counter</a></td>
                    <td>Calorie Counter Nutrition App</td>
                    <td>3-Advanced</td>
                </tr>
                <tr>
                    <td><a href="/Chat-App">Chat App</a></td>
                    <td>Real-time chat interface</td>
                    <td>3-Advanced</td>
                </tr>
                <tr>
                    <td><a href="/Contribution-Tracker-App">Contribution Tracker App</a></td>
                    <td>Track funds donated to charity</td>
                    <td>3-Advanced</td>
                </tr>
                <tr>
                    <td><a href="/Elevator-App">Elevator</a></td>
                    <td>Elevator simulator</td>
                    <td>3-Advanced</td>
                </tr>
                <tr>
                    <td><a href="/FastFood-App">Fast Food Simulator</a></td>
                    <td>Fast Food Restaurant Simulator</td>
                    <td>3-Advanced</td>
                </tr>
                <tr>
                    <td><a href="/Instagram-Clone-App">Instagram Clone</a></td>
                    <td>A clone of Facebook's Instagram app</td>
                    <td>3-Advanced</td>
                </tr>
                <tr>
                    <td><a href="/GitHub-Timeline-App">GitHub Timeline</a></td>
                    <td>Generate a timeline of a users GitHub Repos</td>
                    <td>3-Advanced</td>
                </tr>
                <tr>
                    <td><a href="/Kudos-Slackbot">Kudos Slackbot</a></td>
                    <td>Give recognition to a deserving peer</td>
                    <td>3-Advanced</td>
                </tr>
                <tr>
                    <td><a href="/Movie-App">Movie App</a></td>
                    <td>Browse, Find Ratings, Check Actors and Find you next movie to watch</td>
                    <td>3-Advanced</td>
                </tr>
                <tr>
                    <td><a href="/MyPodcast-Library-app">MyPodcast Library</a></td>
                    <td>Create a library of favorite podcasts</td>
                    <td>3-Advanced</td>
                </tr>
                <tr>
                    <td><a href="/NASA-Exoplanet-Query">NASA Exoplanet Query</a></td>
                    <td>Query NASA's Exoplanet Archive</td>
                    <td>3-Advanced</td>
                </tr>
                <tr>
                    <td><a href="/Shell-Game">Shell Game</a></td>
                    <td>Animated shell game</td>
                    <td>3-Advanced</td>
                </tr>
                <tr>
                    <td><a href="/Shuffle-Deck-App">Shuffle Deck</a></td>
                    <td>Evaluate different algorithms for shuffling a card deck</td>
                    <td>3-Advanced</td>
                </tr>
                <tr>
                    <td><a href="/Slack-Archiver">Slack Archiver</a></td>
                    <td>Archive Slack Messages</td>
                    <td>3-Advanced</td>
                </tr>
                <tr>
                    <td><a href="/SpellIt-App">Spell-It App</a></td>
                    <td>A twist on the classic Speak N Spell game</td>
                    <td>3-Advanced</td>
                </tr>
                <tr>
                    <td><a href="/Survey-App">Survey App</a></td>
                    <td>Define, conduct, and view a survey</td>
                    <td>3-Advanced</td>
                </tr>
            </tbody>
        </table>
    </main>
    <%- include('../../partials/footer/footer') %>
    <script src="./js/script.js"></script>
</body>
</html>