<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="./css/style.css">
    <title>App Ideias Resolved</title>
    <%- include('../../partials/style/style') %>
</head>
<body>
    <%- include('../../partials/header/header') %>
    <main>
        <h2>Christmas Lights App</h2>
        <div>
            <div class="controllers">
                <button>ON</button>
            </div>
            <div class="controllers">
                <input type="color" data-index="0" value="#ee4035">
                <input type="color" data-index="1" value="#f37736">
                <input type="color" data-index="2" value="#fdf498">
                <input type="color" data-index="3" value="#7bc043">
                <input type="color" data-index="4" value="#0392cf">
            </div>
        </div>
        <div class="content">
            <div class="row">
                <span data-column="0" class="light vermelho on"></span>
                <span data-column="1" class="light laranja on-reverse"></span>
                <span data-column="2" class="light amarelo on"></span>
                <span data-column="3" class="light verde on-reverse"></span>
                <span data-column="4" class="light azul on"></span>
            </div>
        </div>
    </main>
    <%- include('../../partials/footer/footer') %>
    <script src="./js/script.js"></script>
</body>
</html>