<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="./css/style.css">
    <title>App Ideias Resolved</title>
    <%- include('../../partials/style/style') %>
</head>
<body>
    <%- include('../../partials/header/header') %>
    <main>
        <h2>Christmas Lights App</h2>
        <div>
            <div class="controllers">
                <div class="switch">
                    <label>
                        Off
                        <input id="power" type="checkbox">
                        <span class="lever"></span>
                        On
                    </label>
                </div>
            </div>
            <div class="controllers">
                <label id="container-rowsNumbers">
                    1
                    <input type="range" id="rowsNumbers" min="1" max="7" step="1" value="1">
                    7
                </label>
            </div>
            <div class="controllers">
                <div>
                    <button class="colorBTN vermelho"></button>
                    <input type="color" data-index="0" value="#ee4035">
                </div>
                <div>
                    <button class="colorBTN laranja"></button>
                    <input type="color" data-index="1" value="#f37736">
                </div>
                <div>
                    <button class="colorBTN amarelo"></button>
                    <input type="color" data-index="2" value="#fdf498">
                </div>
                <div>
                    <button class="colorBTN verde"></button>
                    <input type="color" data-index="3" value="#7bc043">
                </div>
                <div>
                    <button class="colorBTN azul"></button>
                    <input type="color" data-index="4" value="#0392cf">
                </div>
            </div>
        </div>
        <div class="content"></div>
    </main>
    <%- include('../../partials/footer/footer') %>
    <script src="./js/script.js"></script>
</body>
</html>