:root {
    --red: #ee4035;
    --orange: #f37736;
    --yellow: #fdf498;
    --green: #7bc043;
    --blue: #0392cf;
    --duration: 1s;
}

.vermelho {
    background-color: var(--red);
}

.laranja {
    background-color: var(--orange);
}

.amarelo {
    background-color: var(--yellow);
}

.verde {
    background-color: var(--green);
}

.azul {
    background-color: var(--blue);
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.controllers {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.controllers input[type="color"] {
    opacity: 0;
    width: 0;
    height: 0;
    margin: 0;
}

.controllers div {
    display: flex;
    justify-self: center;
    align-items: center;
}

.light {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    filter: brightness(0.5);
    margin: 5px;
}

.colorBTN {
    width: 50px;
    height: 50px;
    margin: 5px;
    border-radius: 50%;
    box-shadow: inset 0 0 2px 2px;
}

.colorBTN:focus {
    background-color: none;
}

#container-rowsNumbers {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}